@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";

@theme {
  /* FONTS */
  --font-heading: "Nunito", sans-serif;
  --font-body: "Open Sans", sans-serif;

  /* COLORS */
  --color-bg-primary-1000: #121212;
  --color-bg-primary-900: #1e1e1e;
  --color-bg-primary-800: #2a2a2a;

  --color-text-primary-0: #eaeaea;
  --color-text-primary-100: #b0b0b0;
  --color-text-primary-200: #808080;

  --color-accent-500: #f6ae2d;
  --color-accent-600: #d99000;
  --color-accent-400: #ffd369;

  --color-shadow: #000000;

  /* SHADOWS */
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.4);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.5);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.6);

  --shadow-inner-sm: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  --shadow-inner-md: inset 0 4px 6px rgba(0, 0, 0, 0.4);
  --shadow-inner-lg: inset 0 10px 15px rgba(0, 0, 0, 0.6);

  /* BREAKPOINTS */
  --breakpoint-verylarge: 1600px;
  --breakpoint-medium: 724px;
  --breakpoint-small: 376px;
}

*:focus-visible {
  outline: 2px solid var(--color-accent-500);
  outline-offset: 2px;
}

@supports selector(::-webkit-scrollbar) {
  .scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: theme(--color-bg-primary-900);
  }
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: theme(--color-accent-500);
  }
}

@supports not selector(::-webkit-scrollbar) {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: theme(--color-accent-500) theme(--color-bg-primary-900);
  }
}

/* Remove Chrome's autocompletion styling */

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #121212 inset;
  -webkit-text-fill-color: #eaeaea;
  transition: background-color 5000s ease-in-out 0s;
}
